//- index.pug
doctype html
html
  head
    style
      include style.css
  body
    

    div.output 
        h1 NJ HASHER 
        include home.pug
        a(class='output' href='/') Calculate another hash   